<div class="col-md-6 col-md-offset-3">
  <div class="login-panel panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Nastavitve računa</h3>
    </div>
    <div class="panel-body">
      <%= image_tag 'logo-blue', class: 'img-responsive' %>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <fieldset>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label 'Ime Organizacije' %><br />
            <%= f.text_field :name, autofocus: true, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label 'Opis organizacije' %><br />
            <%= f.text_area :description, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label 'e-pošta' %><br />
            <%= f.email_field :email, autocomplete: "email", class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label 'Geslo' %> <i>(pustite prazno, če gesla ne želite spremeniti)</i><br />
            <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
            <% if @minimum_password_length %>
              <br />
              <em>vsaj <%= @minimum_password_length %> znakov</em>
            <% end %>
          </div>

          <div class="form-group">
            <%= f.label 'Potrditev gesla'%><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :url %><br />
            <%= f.text_field :url, class: 'form-control' %>
          </div>

          <div class="actions">
            <%= f.submit "Posodobi", class: 'btn btn-login' %>
          </div>
        </fieldset>
      <% end %>
      <div class="form-group">
        <%= link_to "Nazaj", :back, class: 'btn btn-outline btn-info center' %>
      </div>
      <%= button_to "Izbriši račun račun", registration_path(resource_name), data: { confirm: "Ste prepričani?" }, method: :delete, class: 'btn btn btn-outline btn-info center' %>
    </div>
  </div>
</div>
