<div class="col-md-6 col-md-offset-3">
  <div class="login-panel panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Ustvarite Račun</h3>
    </div>
    <div class="panel-body">
      <%= image_tag 'logo-blue', class: 'img-responsive' %>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <fieldset>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.text_field :name, autofocus: true, placeholder: 'Ime organizacije', class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.email_field :email, autocomplete: "email", placeholder: 'E-mail', class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
          </div>

          <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Ponovi geslo' %>
          </div>

          <div class="form-group">
            <%= f.text_field :url, placeholder: 'API URL', class: 'form-control' %>
          </div>

          <div class="form-group">
            <label>Tip zajemanja</label>
            <%= f.select :fetch_type, ["url - json", "url - plain", "api - get", "api - post"], {}, { :class => 'form-control' } %>
          </div>

          <%= f.submit "Ustvari Račun", class: 'btn btn-login' %>
        </fieldset>
      <% end %>
      <div class="container-fluid">
        <div class="col-xs-offset-5 col-sm-offset-5 col-md-offset-5">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
