<div class="col-md-6 col-md-offset-3">
  <div class="login-panel panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Prosim vpišite se</h3>
    </div>
    <div class="panel-body">
      <%= image_tag 'logo-blue', class: 'img-responsive' %>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <fieldset>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'E-mail', class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="checkboxs">
              <span class="custom-checkbox">
                <%= f.check_box :remember_me, id: 'checkbox1', name:'options[]', value: '1' %>
                <label for="checkbox1"></label>Remember Me
              </span>
            </div>
          <% end -%>
          <%= f.submit "Vpis", class: 'btn btn-login' %>
        </fieldset>
      <% end %>
      <div class="container-fluid">
        <div class="col-xs-offset-3 col-sm-offset-3 col-md-offset-3">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
