<div class="col-md-12 col-sm-12">
  <div class="widget default-widget">
    <h3 class="text-themecolor"><%= @organization.name %></h3>
    <hr />
    <em>
      <%= @organization.description || "Ta organizacije še ni dodala opisa" %>
    </em>
  </div>
  <div class="widget default-widget">
    <h4>Vizualizacija</h4>
    <% if @organization == Organization.find('komunala-velenje-voda') %>
      <div class="card-body">
        <canvas id="pie-chart" width="800" height="450"></canvas>
      </div>
      <!-- Custom Chartjs JavaScript -->
      <script>
        $(function () {
            "use strict";

        	// New chart
        	new Chart(document.getElementById("pie-chart"), {
        		type: 'pie',
        		data: {
        		  labels: <%= raw display_chart_label_list(@organization) %>,
        		  datasets: [{
        			label: "Prečiščena voda (kubični metri na dan)",
        			backgroundColor: ["#36a2eb", "#ff6384","#4bc0c0","#ffcd56","#07ff07", "#ffbb84","#4b44c0","#0f1151","#07aa07"],
        			data: <%= display_chart_value_list(@organization) %>
        		  }]
        		},
        		options: {
        		  title: {
        			display: true,
        			text: 'Proizvodi vode v posameznem viru'
        		  }
        		}
        	});
        });
      </script>
    <% else %>
      <em>
        Ta organizacije še nima vizualizacije.
      </em>
    <% end %>
  </div>
  <div class="widget default-widget">
    <h4>Razvijalci</h4>
    <%= link_to 'Spremeni API dokumentacijo', organization_set_api_path(@organization) if current_organization == @organization %>
    <%= display_documentation(@organization.payload) %>
  </div>
  <div class="widget default-widget">
    <h4>Uporaba</h4>
    <p>Do API-ja lahko dostopate na povezavi <code><%= link_to api_v1_organization_url(@organization), api_v1_organization_path(@organization) %></code></p>
    <p>Api bi moral vrniti naslednjo obliko:</p>
    <code id="payload">
      <%= @organization.payload.to_json %>
    </code>
  </div>
</div>
