<div class="col-md-12 col-sm-12">
  <div class="widget default-widget">
    <h3 class="text-themecolor"><%= @organization.name %></h3>
    <hr />
    <em>
      <%= @organization.description || "Ta organizacije še ni dodala opisa" %>
    </em>
  </div>
  <div class="widget default-widget">
    <h4>Galerija</h4>
    <%= display_organization_gallery(@organization) %>
  </div>
  <div class="widget default-widget">
    <h4>Vizualizacija</h4>
    <%= display_visualization(@organization) %>
  </div>
  <div class="widget default-widget">
    <h4>Razvijalci</h4>
    <%= display_documentation(@organization.payload) %>
  </div>
  <div class="widget default-widget overflow-hidden">
    <h4>Uporaba</h4>
    <p>Do API-ja lahko dostopate na povezavi <code><%= link_to api_v1_organization_url(@organization), api_v1_organization_path(@organization) %></code></p>
    <p>Api bi moral vrniti naslednjo obliko:</p>
    <code id="payload">
      <%= @organization.payload.to_json %>
    </code>
  </div>
</div>
