<div id="wrapper" class="<%= 'active' unless organization_signed_in? %>">
  <!-- <div class="fakeLoader"></div> -->
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top"  style="margin-bottom: 0">
    <div class="navbar-header">
      <%= display_mobile_menu_toggle_button if organization_signed_in? %>
      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag 'logo', class: 'img-responsive' %>
      <% end %>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-left header-search-form hidden-xs">
      <%= display_menu_toggle_button if organization_signed_in? %>
    </ul>
    <%= render 'user_nav' %>
    <!-- /.navbar-top-links -->

    <!-- Sidebar Navigation -->
    <%= render 'sidebar' if organization_signed_in? %>

    <% if current_organization.admin?  %>
      <div class="navbar-header">
        <span class="white">Izberi organizacijo za urejanje:</span>
        <%= form_tag(switch_organizations_path) do %>
          <%= select_tag('organization', options_from_collection_for_select(Organization.not_admin, "id", "name")) %>
          <%= submit_tag "Potrdi", class: "btn" %>
        <% end %>
      </div>
    <% end %>
  </nav>
  <!-- Sidebar Navigation -->
