<div id="wrapper" class="<%= 'active' unless organization_signed_in? %>">
  <!-- <div class="fakeLoader"></div> -->
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top"  style="margin-bottom: 0">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag 'logo', class: 'img-responsive' %>
      <% end %>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-left header-search-form hidden-xs">
      <%= display_menu_toggle_button if organization_signed_in? %>
    </ul>
    <ul class="nav navbar-top-links navbar-left">
      <%= display_messages %>
    </ul>
    <%= render 'user_nav' %>
    <!-- /.navbar-top-links -->

    <!-- Sidebar Navigation -->
    <%= render 'sidebar' if organization_signed_in? %>
  </nav>
  <!-- Sidebar Navigation -->
