<div id="wrapper" class="<%= 'active' unless organization_signed_in? %>">
  <!-- <div class="fakeLoader"></div> -->
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top guest"  style="margin-bottom: 0">
    <div class="navbar-header">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag 'logo', class: 'img-responsive' %>
      <% end %>
    </div>
    <!-- /.navbar-header -->
    <%= link_to 'Organizacije', organizations_path, class: 'btn btn-primary navbar-header navbar-link-center hidden-sm hidden-xs min-width-200' %>
    <%= link_to 'API', organizations_path, class: 'btn btn-primary navbar-header navbar-link-center hidden-sm hidden-xs min-width-200' %>
    <%= link_to 'Organicity', organizations_path, class: 'btn btn-primary navbar-header navbar-link-center hidden-sm hidden-xs min-width-200' %>

    <%= render 'user_nav' %>
    <!-- /.navbar-top-links -->

    <!-- Sidebar Navigation -->
    <%= render 'sidebar' if organization_signed_in? %>
  </nav>
  <!-- Sidebar Navigation -->
