<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
       <li>
        <a href="javascript:void(0)"><i class="fa fa-bullseye"></i>Nadzorna plošča <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li class="<%= 'active' if current_page?(root_path) %>">
            <%= link_to 'Domov', root_path %>
          </li>
          <li class="<%= 'active' if current_page?(organization_set_api_path(current_organization)) %>">
            <%= link_to 'Nastavi API dokumentacijo', organization_set_api_path(current_organization) %>
          </li>
          <li class="<%= 'active' if current_page?(organization_new_visualization_path(current_organization)) %>">
            <%= link_to 'Ustvari API vizualizacijo', organization_new_visualization_path(current_organization) %>
          </li>
          <li>
            <%= link_to 'Preglej API', api_v1_organization_path(current_organization), target: '_blank' %>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:void(0)"><i class="ti ti-layout-grid2"></i>Organizacije <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li class="<%= 'active' if current_page?(organizations_path) %>">
            <%= link_to 'Vse organizacije', organizations_path %>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:void(0)"><i class="ti ti-layers"></i>Uporabne povezave<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li class="<%= 'active' if current_page?(api_path) %>">
            <%= link_to 'Uporaba', api_path %>
          </li>
          <li class="<%= 'active' if current_page?(organicity_path) %>">
            <%= link_to 'Organicity', organicity_path %>
          </li>
          <li class="<%= 'active' if current_page?(share_path) %>">
            <%= link_to 'Deli', share_path %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
